<head xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/RobotoVarelaRound.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.docs.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/docs.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/MaterialIcons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DeliveryChain</title>
</head>