<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <nav class="container-fluid flex-wrap flex-md-nowrap">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2 active" aria-current="true" href="/">DeliveryChain</a>
                </li>
            </ul>
            <ul class="navbar-nav bd-navbar-nav flex-row ms-auto">
                <li class="nav-item">
                    <button id="sideBarOpenerCloser" class="btn btn-warning">Menü</button>
                </li>
            </ul>
        </div>
    </nav>
</header>