<SidebarLayout id="sidebar" class="sidebar col-md-2 w-0px h-0px p-0 transition-500">
    <aside>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a id="sideBarCloser" class="closebtn">
                    Kapat <i class="material-icons">clear</i>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" href="#addProductModal" class="btn btn-success mb-1 w-100 d-flex nav-link" data-toggle="modal">
                    <i class="material-icons">add_circle</i>
                    <span>Yeni Ürün Ekle</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="refresh" class="btn btn-info mb-1 w-100 d-flex nav-link">
                    <i class="material-icons">refresh</i>
                    <span>Tazele</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="platformRedirect" class="btn btn-primary mb-1 w-100 d-flex nav-link">
                    <i class="material-icons">public</i>
                    <span>Platform Listele</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="logout" class="btn btn-danger mb-1 w-100 d-flex nav-link">
                    <i class="material-icons">exit_to_app</i>
                    <span>Çıkış Yap</span>
                </button>
            </li>
        </ul>
    </aside>
</SidebarLayout>