<ModalsLayout xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Inspect Modal HTML -->
    <div id="inspectProductModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ürün İncele</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form id="inspectProductForm">
                        <div class="input-group mb-3">
                            <label for="inspectHeader" class="col-md-2 col-form-label">Başlık:</label>
                            <div class="col-md-10">
                                <p id="inspectHeader" name="Header" type="text" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectDescription" class="col-md-2 col-form-label">Açıklama:</label>
                            <div class="col-md-10">
                                <p id="inspectDescription" name="Description" type="text" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectPrice" class="col-md-2 col-form-label">Fiyat:</label>
                            <div class="col-md-10">
                                <p id="inspectPrice" name="Price" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectDiscount" class="col-md-2 col-form-label">İndirim Oranı:</label>
                            <div class="col-md-10">
                                <p id="inspectDiscount" name="Discount" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectQuantity" class="col-md-2 col-form-label">Miktar:</label>
                            <div class="col-md-10">
                                <p id="inspectQuantity" name="Quantity" type="number" min="0" step="1" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectAdditionDate" class="col-md-2 col-form-label">Eklenme Tarih:</label>
                            <div class="col-md-10">
                                <p id="inspectAdditionDate" name="AdditionDate" class="form-control"></p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="inspectPhoto" class="col-md-2 col-form-label">Fotoğraf</label>
                            <div class="col-md-10" id="inspectPhotoList"></div>
                        </div>
                        <div class=" input-group mb-3">
                            <label for="inspectIsActive" class="col-md-2 col-form-label">Aktif Mi?:</label>
                            <div class="col-md-10">
                                <input disabled="disabled" id="inspectIsActive" name="IsActive" type="checkbox" class="d-block form-check-input"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addProductModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Ürün Ekle</h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addProductForm">
                            <div class="input-group mb-3">
                                <label for="addHeader" class="col-md-2 col-form-label">Başlık:</label>
                                <div class="col-md-10">
                                    <input id="addHeader" name="Header" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addDescription" class="col-md-2 col-form-label">Açıklama:</label>
                                <div class="col-md-10">
                                    <input id="addDescription" name="Description" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addPrice" class="col-md-2 col-form-label">Fiyat:</label>
                                <div class="col-md-10">
                                    <input id="addPrice" name="Price" type="number" min="0.00" step="0.1" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addDiscount" class="col-md-2 col-form-label">İndirim Oranı:</label>
                                <div class="col-md-10">
                                    <input id="addDiscount" name="Discount" type="number" min="0" max="100" step="0.1" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addQuantity" class="col-md-2 col-form-label">Miktar:</label>
                                <div class="col-md-10">
                                    <input id="addQuantity" name="Quantity" type="number" min="0" step="1" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addAdditionDate" class="col-md-2 col-form-label">Eklenme Tarih:</label>
                                <div class="col-md-10">
                                    <input id="addAdditionDate" name="AdditionDate" type="datetime-local" class="form-control" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addPhoto" class="col-md-2 col-form-label">Fotoğraf</label>
                                <div class="col-md-10">
                                    <img th:src="${productBase64Photo}" id="addPhotoImg" alt="#" class="ms-auto me-auto d-block rounded-circle w-192px h-192px" />
                                    <input id="addPhoto" name="Photo" type="file" class="d-none" accept="image/png, image/jpeg, image/jpg" multiple>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="addIsActive" class="col-md-2 col-form-label">Aktif Mi?:</label>
                                <div class="col-md-10">
                                    <input id="addIsActive" name="IsActive" type="checkbox" class="d-block form-check-input" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">İptal Et</button>
                        <button id="addProductSubmit" type="button" class="btn btn-success">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editProductModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ürünü Düzenle</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form id="editProductForm">
                        <div class="input-group mb-3">
                            <label for="editHeader" class="col-md-2 col-form-label">Başlık:</label>
                            <div class="col-md-10">
                                <input id="editHeader" name="Header" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editDescription" class="col-md-2 col-form-label">Açıklama:</label>
                            <div class="col-md-10">
                                <input id="editDescription" name="Description" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editPrice" class="col-md-2 col-form-label">Fiyat:</label>
                            <div class="col-md-10">
                                <input id="editPrice" name="Price" type="number" min="0.00" step="0.1" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editDiscount" class="col-md-2 col-form-label">İndirim Oranı:</label>
                            <div class="col-md-10">
                                <input id="editDiscount" name="Discount" type="number" min="0" max="100" step="0.1" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editQuantity" class="col-md-2 col-form-label">Miktar:</label>
                            <div class="col-md-10">
                                <input id="editQuantity" name="Quantity" type="number" min="0" step="1" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editAdditionDate" class="col-md-2 col-form-label">Eklenme Tarih:</label>
                            <div class="col-md-10">
                                <input id="editAdditionDate" name="AdditionDate" type="datetime-local" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editPhotoList" class="col-md-2 col-form-label">Fotoğraflar</label>
                            <input id="editPhoto" name="Photo" type="file" class="d-none" value="" accept="image/png, image/jpeg, image/jpg" multiple>
                            <div class="col-md-10" id="editPhotoList"></div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="editIsActive" class="col-md-2 col-form-label">Aktif Mi?:</label>
                            <div class="col-md-10">
                                <input id="editIsActive" name="IsActive" type="checkbox" class="d-block form-check-input" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal Et</button>
                    <button id="editProductSubmit" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteProductModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Ürünü Sil</h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <p>Ürünü silmek istediğinize emin misiniz?</p>
                        <p class="text-warning">Bu işlem geri alınamaz.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal Et</button>
                        <button id="deleteProductSubmit" type="button" class="btn btn-danger">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Alert Success Modal -->
    <div id="alertSuccessModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ÜrünMatik</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>İşlem başarıyla gerçekleştirildi.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert Fail Modal -->
    <div id="alertFailModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ürün</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>İşlem gerçekleştirilemedi. Lütfen tekrar deneyiniz.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</ModalsLayout>