<SidebarLayout id="sidebar" class="sidebar col-md-2 w-0px h-0px p-0 transition-500">
    <aside>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a id="sideBarCloser" class="closebtn">
                    Kapat <i class="material-icons">clear</i>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" id="productListRedirect" class="btn btn-primary mb-1 w-100 d-flex nav-link">
                    <i class="material-icons me-3">list_alt</i>
                    <span>Ürünleri Listele</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" href="#addProductModal" class="btn btn-success mb-1 w-100 d-flex nav-link" data-toggle="modal">
                    <i class="material-icons me-3">add_circle</i>
                    <span>Yeni Ürün Ekle</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="orderRedirect" class="btn btn-primary mb-1 w-100 d-flex nav-link">
                    <i class="material-icons me-3">list_alt</i>
                    <span>Gelen Siparişleri Görüntüle</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="productRedirect" class="btn btn-primary mb-1 w-100 d-flex nav-link">
                    <i class="material-icons me-3">category</i>
                    <span>Ürünleri Düzenle</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" id="logout" class="btn btn-danger mb-1 w-100 d-flex nav-link">
                    <i class="material-icons me-3">exit_to_app</i>
                    <span>Çıkış Yap</span>
                </button>
            </li>
        </ul>
    </aside>
</SidebarLayout>